# Configuration for mkdocs

site_name: py-buzz documentation
site_url: http://py-buzz.readthedocs.io/en/latest/
repo_url: https://github.com/dusktreader/py-buzz
docs_dir: source
theme:
  name: material
  logo: images/buzz-logo-light.png
  features:
    - navigation.expand
    - content.code.copy
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
nav:
  - Home: index.md
  - Features: features.md
  - Demo: demo.md
  - Reference: reference.md
  - Changelog: changelog.md
watch:
  - ../src/buzz
plugins:
  search:
    lang: en
  mkdocstrings:
    default_handler: python
    handlers:
      python:
        paths: [..]
        options:
          heading_level: 3
          show_root_heading: true
          docstring_section_style: list
          separate_signature: true
          show_signature_annotations: true
          show_source: false
          docstring_style: google
markdown_extensions:
  - codehilite:
      use_pygments: true
